@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300&family=Merienda:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

#footer,
footer {
  display: block;
  text-align: right;
  font-size: 1em;
}

span#me {
  position: fixed;
  top: 12px;
  left: 12px;
  padding: 8px 12px;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'IBM Plex Mono', monospace;

  a {
    text-decoration: none;
    color: white;
  }
}
