@use 'common';

$max-width: 1000px;

body {
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  line-height: 1.4;
  background-color: #fff;
  margin: 0;
  padding: 8px;
  color: #111;
}

main {
  header {
    font-weight: bold;
    background-image: url(https://live.staticflickr.com/4754/39390365535_65f3d4356f_b.jpg);
    height: 500px;

    div {
      padding-right: 200px;
      padding-bottom: 100px;
    }
  }

  header,
  & > section.image {
    min-height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    * {
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  & > section.text {
    max-width: $max-width;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  & > section.two-col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & > div {
      display: block;
      margin: 0;
      padding: 0;
      width: 50%;
      font-style: italic;

      img {
        width: 100%;
        border-radius: 10px;
      }

      p {
        margin-top: 0;
      }

      & > * {
        padding: 5px;
      }
    }
  }
}

section#upcoming-events {
  & > div {
    border-bottom: 1px solid #eee;
    margin-bottom: 32px;
    padding-bottom: 32px;
  }

  h3 {
    margin: 0;
  }

  span {
    font-style: italic;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-top: 32px;
  margin-bottom: 32px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

main#acroyoga {
  a {
    color: chocolate;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merienda', cursive;
  }
}
