@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Montserrat:wght@100;200;400&family=Roboto&display=swap');

$bannerHeight: 400px;
$padding: 16px;
$borderColor: #eee;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.exercept {
  font-weight: 200;
  font-size: 1.5em;
  color: #333;
  line-height: 1.5;
}

body,
html {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  color: #555;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

.page {
  display: flex;
}

#context {
  position: sticky;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: $padding;
  flex-shrink: 0;
  border-right: 1px solid $borderColor;
  font-size: 1.4em;

  #expand-button {
    display: none;
  }

  a {
    color: #393939;
    text-decoration: none;
    text-transform: lowercase;

    &:hover {
      color: #666;
    }
  }

  header {
    // min-height: $bannerHeight;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;

      li {
        margin-bottom: 12px;
      }
    }
  }

  #social {
    margin-top: 100px;
    text-align: center;
  }
}

#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  font-size: 1.1em;

  header {
    &#banner-acro {
      // background-image: url(https://live.staticflickr.com/4754/39390365535_65f3d4356f_b.jpg);
      background-image: url(https://d1j4p94w54mk15.cloudfront.net/media/images/4M6A3534-Edit-Edit.jpg);
    }
    &#banner-product {
      background-image: url(../img/product-header.webp);
    }
    &#banner-software {
      background-image: url(../img/software-header.jpeg);
    }

    h1 {
      background-color: #eeec;
      padding: 5px;
      border-radius: 3px;
    }

    width: 100%;
    min-height: $bannerHeight;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: 'IBM Plex Mono', monospace;
      font-weight: normal;
      text-transform: full-width;
      font-size: 2.4em;
    }
  }

  #content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    #content {
      padding: $padding;
      max-width: 960px;
      min-height: 500px;
      margin: 0 auto;
      width: 100%;

      & > section.two-col {
        display: flex;
        flex-wrap: wrap;

        &.middle {
          align-items: center;
          justify-content: center;
        }

        & > div {
          display: block;
          margin: 0;
          padding: 0;
          width: 50%;

          img {
            width: 100%;
            border-radius: 10px;
          }

          p {
            margin-top: 0;
          }

          & > * {
            padding: 5px;
          }
        }
      }
    }
  }

  footer {
    // border-top: 1px solid $borderColor;
    padding: 24px;
    font-size: initial;
    text-align: right;
  }
}

span#me {
  position: fixed;
  top: 12px;
  left: 12px;
  padding: 8px 12px;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'IBM Plex Mono', monospace;

  a {
    text-decoration: none;
    color: white;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-top: 32px;
  margin-bottom: 32px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

article {
  padding-top: 50px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  section {
    margin-bottom: 50px;
    margin-top: 15px;
    width: 100%;
  }
}

section.bullets {
  display: flex;
  flex-direction: row;

  .bullet {
    text-align: center;
    width: 33%;
    padding: 10px;

    .material-icons {
      font-size: 100px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 960px), only screen and (hover: none) and (pointer: coarse) {
  #context {
    position: absolute;
    right: 0;
    width: auto;
    height: auto;
    background-color: white;
    border-left: 1px solid $borderColor;
    text-align: right;

    &.visible {
      position: fixed;

      #expand {
        display: block;
        width: 300px;
        height: 100vh;
      }
    }

    #expand-button {
      padding: 8px;
      cursor: pointer;
      display: block;
    }

    #expand {
      display: none;
    }

    header {
      min-height: 0;
    }

    nav {
      text-align: right;
    }
  }
}
