@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300&family=Merienda:wght@700&display=swap");
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.4;
  background-color: black;
  margin: 0;
  overflow-x: hidden;
}

body#front-page {
  font-family: "IBM Plex Mono", monospace;
}
body#front-page a {
  color: white;
}
body#front-page main {
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translate3d(0, 0, 0);
}
@media screen and (orientation: landscape) and (min-width: 800px) {
  body#front-page main {
    flex-direction: row;
    width: 130%;
    margin-left: -15%;
  }
}
body#front-page main section:not(:first-child):not(:last-child):hover {
  flex: 2;
}
body#front-page main section:not(:first-child):not(:last-child):hover:after {
  opacity: 0.8;
}
body#front-page main section:not(:first-child):not(:last-child):hover .navitem {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;
}
@media screen and (orientation: landscape) and (min-width: 800px) {
  body#front-page main section:not(:first-child):not(:last-child):hover .navitem {
    transform: translateY(0) skewX(-15deg);
  }
}
body#front-page section {
  flex: 1;
  position: relative;
  width: 100%;
  min-height: 20vh;
  overflow: hidden;
  z-index: 1;
  transition: flex-grow 0.2s, opacity 0.2s;
}
body#front-page section:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 0.2s, width 0.2s;
}
body#front-page section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.2s;
}
@media screen and (orientation: landscape) and (min-width: 800px) {
  body#front-page section {
    width: 20%;
    height: 100vh;
    margin-right: -1px;
    transform: skewX(15deg) translateZ(0);
  }
  body#front-page section:before {
    left: -100%;
    width: 400%;
    transform: skewX(-15deg);
  }
}
body#front-page section:nth-child(1):before {
  background-color: #e60000;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/bg-section--1.jpg);
}
.hide-images body#front-page section:nth-child(1):before {
  background-image: none;
}
body#front-page section:first-child:before, body#front-page section:last-child:before {
  background-color: #660000;
}
body#front-page section:first-child:after, body#front-page section:last-child:after {
  opacity: 0.5;
}
body#front-page section:first-child .navitem, body#front-page section:last-child .navitem {
  display: none;
}
body#front-page section:nth-child(2):before {
  background-color: #cc0000;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/bg-section--2.jpg);
}
.hide-images body#front-page section:nth-child(2):before {
  background-image: none;
}
body#front-page section:first-child:before, body#front-page section:last-child:before {
  background-color: #660000;
}
body#front-page section:first-child:after, body#front-page section:last-child:after {
  opacity: 0.5;
}
body#front-page section:first-child .navitem, body#front-page section:last-child .navitem {
  display: none;
}
body#front-page section:nth-child(3):before {
  background-color: #b30000;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/bg-section--3.jpg);
}
.hide-images body#front-page section:nth-child(3):before {
  background-image: none;
}
body#front-page section:first-child:before, body#front-page section:last-child:before {
  background-color: #660000;
}
body#front-page section:first-child:after, body#front-page section:last-child:after {
  opacity: 0.5;
}
body#front-page section:first-child .navitem, body#front-page section:last-child .navitem {
  display: none;
}
body#front-page section:nth-child(4):before {
  background-color: #990000;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/bg-section--4.jpg);
}
.hide-images body#front-page section:nth-child(4):before {
  background-image: none;
}
body#front-page section:first-child:before, body#front-page section:last-child:before {
  background-color: #660000;
}
body#front-page section:first-child:after, body#front-page section:last-child:after {
  opacity: 0.5;
}
body#front-page section:first-child .navitem, body#front-page section:last-child .navitem {
  display: none;
}
body#front-page section:nth-child(5):before {
  background-color: maroon;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/bg-section--5.jpg);
}
.hide-images body#front-page section:nth-child(5):before {
  background-image: none;
}
body#front-page section:first-child:before, body#front-page section:last-child:before {
  background-color: #660000;
}
body#front-page section:first-child:after, body#front-page section:last-child:after {
  opacity: 0.5;
}
body#front-page section:first-child .navitem, body#front-page section:last-child .navitem {
  display: none;
}
body#front-page .navitem {
  position: relative;
  padding: 24px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  z-index: 1;
  transition: opacity 0.2s, transform 0.2s;
}
@media screen and (orientation: landscape) and (min-width: 800px) {
  body#front-page .navitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    transform: translateY(24px) skewX(-15deg);
  }
}
body#front-page h2 {
  font-size: 32px;
  margin-bottom: 12px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

#footer,
footer {
  display: block;
  text-align: right;
  font-size: 1em;
}

span#me {
  position: fixed;
  top: 12px;
  left: 12px;
  padding: 8px 12px;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
}
span#me a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=front.css.map */
