@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Montserrat:wght@100;200;400&family=Roboto&display=swap");
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.exercept {
  font-weight: 200;
  font-size: 30px;
  line-height: 1.55;
  color: #222;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 1.45;
  color: #555;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

.page {
  display: flex;
}

#context {
  position: sticky;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: 16px;
  flex-shrink: 0;
  border-right: 1px solid #eee;
  font-size: 26px;
}
#context #expand-button {
  display: none;
}
#context a {
  color: #393939;
  text-decoration: none;
  text-transform: lowercase;
}
#context a:hover {
  color: #666;
}
#context header {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#context nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
#context nav ul li {
  margin-bottom: 12px;
}
#context #social {
  margin-top: 100px;
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#main > header {
  width: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main > header#banner-acro {
  background-image: url(https://d1j4p94w54mk15.cloudfront.net/media/images/4M6A3534-Edit-Edit.jpg);
}
#main > header#banner-products {
  background-image: url(../img/product-header.webp);
}
#main > header#banner-consulting {
  background-image: url(../img/software-header.jpeg);
}
#main > header h1 {
  background-color: #eeec;
  padding: 20px 10px;
  border-radius: 3px;
}
#main > header h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: normal;
  text-transform: full-width;
  font-size: 48px;
}
#main #content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
#main #content-wrapper #content {
  padding: 16px;
  max-width: 960px;
  min-height: 500px;
  margin: 0 auto;
  width: 100%;
}
#main #content-wrapper #content > h1, #main #content-wrapper #content > h2, #main #content-wrapper #content > h3, #main #content-wrapper #content > h4, #main #content-wrapper #content > h5, #main #content-wrapper #content > h6 {
  margin: 0;
  margin-bottom: 10px;
}
#main #content-wrapper #content > h1::after, #main #content-wrapper #content > h2::after, #main #content-wrapper #content > h3::after, #main #content-wrapper #content > h4::after, #main #content-wrapper #content > h5::after, #main #content-wrapper #content > h6::after {
  content: "";
  display: block;
  border-bottom: 1px solid #666;
  max-width: 50px;
}
#main #content-wrapper #content section {
  margin-bottom: 50px;
  width: 100%;
}
#main #content-wrapper #content section.nomargin {
  margin: 0;
}
#main #content-wrapper #content a {
  color: chocolate;
}
#main footer {
  padding: 24px;
  font-size: initial;
  text-align: right;
}

span#me {
  position: fixed;
  top: 12px;
  left: 12px;
  padding: 8px 12px;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
}
span#me a {
  text-decoration: none;
  color: white;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  margin-top: 32px;
  margin-bottom: 32px;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.bullets {
  display: flex;
  flex-direction: row;
}
section.bullets .bullet {
  text-align: center;
  width: 33%;
  padding: 10px;
}
section.bullets .bullet .material-icons {
  font-size: 100px;
  text-align: center;
}

section.two-col {
  display: flex;
  flex-wrap: wrap;
}
section.two-col.middle {
  align-items: center;
  justify-content: center;
}
section.two-col > div {
  display: block;
  margin: 0;
  padding: 0;
  width: 50%;
}
section.two-col > div h1,
section.two-col > div h2,
section.two-col > div h3,
section.two-col > div h4,
section.two-col > div h5,
section.two-col > div h6 {
  margin: 0;
}
section.two-col > div img {
  width: 100%;
  border-radius: 3px;
}
section.two-col > div p {
  margin-top: 0;
}
section.two-col > div:nth-child(odd) {
  padding-right: 10px;
}
section.two-col > div:nth-child(even) {
  padding-left: 10px;
}

section.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
section.logos > img {
  padding: 25px;
  width: 20%;
}
@media only screen and (max-width: 1200px), only screen and (hover: none) and (pointer: coarse) {
  section.logos > img {
    width: 25%;
  }
}
@media only screen and (max-width: 960px), only screen and (hover: none) and (pointer: coarse) {
  section.logos > img {
    width: 33%;
  }
}

section.lefticon > div {
  display: flex;
  margin-bottom: 25px;
}
section.lefticon > div span {
  font-size: 100px;
  padding: 16px;
}
section.lefticon > div div > * {
  margin: 8px 0;
}

section.highlight {
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
}

section.calendar {
  display: flex;
}
section.calendar > * {
  width: 14%;
  margin: 8px;
}

section.events .event > h3 {
  margin-bottom: 5px;
}
section.events .event > div {
  display: flex;
  align-content: center;
  justify-content: center;
}
section.events .event > div > div {
  width: 50%;
}

@media only screen and (max-width: 960px), only screen and (hover: none) and (pointer: coarse) {
  #context {
    position: absolute;
    right: 0;
    width: auto;
    height: auto;
    background-color: white;
    border-left: 1px solid #eee;
    text-align: right;
  }
  #context.visible {
    position: fixed;
  }
  #context.visible #expand {
    display: block;
    width: 300px;
    height: 100vh;
  }
  #context #expand-button {
    padding: 24px;
    cursor: pointer;
    display: block;
  }
  #context #expand {
    display: none;
  }
  #context header {
    min-height: 0;
  }
  #context nav {
    margin-top: 48px;
    text-align: right;
  }
}

/*# sourceMappingURL=style.css.map */
